<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><contact-us></contact-us></title>
  </head>
  <body>
    <h1>Welcome to the /contact-us page</h1>
    <form action="/contact-us" method="POST">
      <input type="text" name="name" placeholder="Enter your name" required />
      <input
        type="email"
        name="email"
        placeholder="Enter your email"
        required
      />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
