<!-- success.html -->
<%- include('partials/head', { pageTitle: 'Success', cssFile: '/success.css' }) %>
<body>
    <header>
        <h1>Simple Airbnb</h1>
    </header>

    <main>
        <section id="successMessage">
            <h2>Success!</h2>
            <p>Your listing has been successfully added.</p>
            <a href="/"><button>Go Home</button></a>
        </section>
    </main>

    <%- include('partials/footer') %>
</body>
</html>