<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>airbnb Home</title>
    <link rel="stylesheet" href="/home.css" />
  </head>
  <body>
    <%- include('partials/header.ejs') %>
    <a href="/host/add-home">Add Home</a>
    <h2>Here is our available home</h2>
    <ul>
      <% registeredHomes.forEach(function(home) { %>
      <li><%= home.houseName %></li>
      <% }); %>
    </ul>
  </body>
</html>
